# Import space data project

This project was initiate to read, process and feed spacegraphqlapi mongodb database

## Data
The data are from NASA website https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
exo_planets = pd.read_csv("data/PS_2022.06.24_08.14.32.csv", index_col=0, skiprows=292)

## Data exploration

In [15]:
exo_planets.head(10)

,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,sy_pnum,sy_mnum,...,sy_kepmagerr2,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
ame,,,,,,,,,,,,,,,,,,,,,
11 Com b,11 Com,b,HD 1073,3 HIP 6020,TIC 724370,7 Gaia DR2 394694541310633,696 1,2.0,1.0,0.0,...,NaN,2014-05-14,2008-01,2014-05-14,2,1.0,2.0,0.0,0.0,0.0
11 Com b,11 Com,b,HD 1073,3 HIP 6020,TIC 724370,7 Gaia DR2 394694541310633,696 0,2.0,1.0,0.0,...,NaN,2014-07-23,2011-08,2014-07-23,2,1.0,2.0,0.0,0.0,0.0
11 UMi b,11 UMi,b,HD 1367,6 HIP 7479,TIC 230061,10 Gaia DR2 169679836726022,376 0,1.0,1.0,0.0,...,NaN,2018-04-25,2011-08,2014-07-23,0,1.0,1.0,0.0,0.0,0.0
11 UMi b,11 UMi,b,HD 1367,6 HIP 7479,TIC 230061,10 Gaia DR2 169679836726022,376 1,1.0,1.0,0.0,...,NaN,2018-09-04,2017-03,2018-09-06,0,1.0,1.0,0.0,0.0,0.0
11 UMi b,11 UMi,b,HD 1367,6 HIP 7479,TIC 230061,10 Gaia DR2 169679836726022,376 0,1.0,1.0,0.0,...,NaN,2018-04-25,2009-10,2014-05-14,0,1.0,1.0,0.0,0.0,0.0
14 And b,14 And,b,HD 2213,5 HIP 1160,6 TIC 333225,60 Gaia DR2 192011351248628,240 0,1.0,1.0,0.0,...,NaN,2014-07-23,2011-08,2014-07-23,0,1.0,1.0,0.0,0.0,0.0
14 And b,14 And,b,HD 2213,5 HIP 1160,6 TIC 333225,60 Gaia DR2 192011351248628,240 1,1.0,1.0,0.0,...,NaN,2014-05-14,2008-12,2014-05-14,0,1.0,1.0,0.0,0.0,0.0
14 Her b,14 Her,b,HD 1456,5 HIP 7924,TIC 219483,57 Gaia DR2 138529380814562,504 0,1.0,2.0,0.0,...,NaN,2021-09-20,2021-05,2021-09-20,0,1.0,4.0,1.0,0.0,0.0
14 Her b,14 Her,b,HD 1456,5 HIP 7924,TIC 219483,57 Gaia DR2 138529380814562,504 0,1.0,2.0,0.0,...,NaN,2018-04-25,2003-01,2014-08-21,0,1.0,4.0,1.0,0.0,0.0
14 Her b,14 Her,b,HD 1456,5 HIP 7924,TIC 219483,57 Gaia DR2 138529380814562,504 0,1.0,2.0,0.0,...,NaN,2018-04-25,2008-04,2014-08-21,0,1.0,4.0,1.0,0.0,0.0

In [11]:
exo_planets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1667 entries, 11 Com b to HD 155193 b
Columns: 285 entries, hostname to pl_ntranspec
dtypes: float64(249), object(36)
memory usage: 3.6+ MB

In [12]:
exo_planets.shape

(1667, 285)

In [14]:
exo_planets.columns

Index(['hostname', 'pl_letter', 'hd_name', 'hip_name', 'tic_id', 'gaia_id',
       'default_flag', 'sy_snum', 'sy_pnum', 'sy_mnum',
       ...
       'sy_kepmagerr2', 'rowupdate', 'pl_pubdate', 'releasedate', 'pl_nnotes',
       'st_nphot', 'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec'],
      dtype='object', length=285)